@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'Mulish';
    src: url('./fonts/Mulish.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Main Colors */
    --mcs-blue: #091851;
    --mcs-orange-light: #FFA940;
    --mcs-orange: #FF7A00;
    --mcs-orange-dark: #CC6200;
    --mcs-white: #F5F6FA;
    --mcs-grey: #EBECF2;
    --mcs-black: #020614;

    /* Text Colors */
    --txt-white-prim: #F5F6FA;
    --txt-white-sec: #A9B8F1;
    --txt-black-prim: #020614;
    --txt-black-sec: #525664;

    /* Disabled Colors */
    --disabled: #D9CEC3;
    --disabled-txt: #8B8075;
}

* {
    background-color: var(--mcs-white);
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

.mulish {
    font-family: 'Mulish', sans-serif;
}